@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

.card {
	display:			flex;
	align-items:		flex-start;
	
	width:				144px;
	height:				192px;

	border-radius:		16px;
	box-shadow:			-1px -1.5px 1px rgba(0, 0, 0, 0.1);
}

.face { background: 	rgba(250, 249, 247, 1); }

.card-info {
	margin: 			8px;
	display: 			flex;
	flex-direction:		column;
	align-items:		center;
}

.rank {
	max-width:			28px;
	max-height:			28px;
	padding:			2px 2px;

	font-family:		'Averia Serif Libre', cursive;
	font-size:			28px;
	line-height:		28px;
}


.suit {
	width:				24px;
	height:				24px;
	padding:			4px 2px;
}

.back { }