.game {
	position:   		relative;

	width:   			90%;
	height:   			75%;

	margin:   			5%;

	background:   		#FFC157;
	border-radius:		16px;
}

ul {
	list-style-type:	none;
	margin:   			0;
	padding:   			0;
}

img { max-width:   		100%; }

