.game {
	display: flex;
	flex-direction: column;
	align-items: center;

	/*position: static;*/
	width: 100%;
	height: 50vw;
	left: 0px;
	top: 0px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table {
	display: flex;

	background: #4B7C5F;

	align-self: stretch;
	flex-grow: 1;

	align-items: center;
	justify-content: flex-end;
}


.played {
	position: absolute;
	display: flex;
	
	right: 50%;
	/*top: 33%;*/
}


.deck {
	position: absolute;
	right: 10%;
}

.hand {
	display: flex;
	flex-direction: row;

}

.played > li:first-child {
	/*position: absolute;*/
	transform: rotate(-6deg);
	left: 0px;
	/*top: 16px;*/

}

.played > li:nth-child(2) {
	position: absolute;
	transform: rotate(6deg);
	left: 32px;
	/*top: 24px;*/

}