.other {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 72px;

	border: 4px solid rgba(97, 97, 97, 0.25);
	box-sizing: border-box;
	border-radius: 36px;
}

.other1 {
	position: static;
	width: 299px;
	height: 249px;
	left: 72px;
	top: 72px;

	background: #A27BF6;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.other2 {
	position: static;
	width: 471px;
	height: 291px;
	left: 541px;
	top: 72px;

	background: #ED6A5E;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.other3 {
	position: static;
	width: 192px;
	height: 175px;
	left: 1182px;
	top: 72px;

	background: #F6BE4F;

	flex: none;
	order: 2;
	flex-grow: 0;
}