.played {
	position: 	absolute;
	display: 	flex;
	
	left: 		calc(50% - 144px/2); /* used 288 for hands */
	top:		calc(50% - 192px/2); /* same for deck */
}

.played > div:first-child {
	position: 	absolute;
	transform: 	matrix(1, -0.1, 0.1, 1, -20, 0);
}

.played > div:nth-child(2) {
	position: 	absolute;
	transform: 	matrix(1, 0.1, -0.1, 1, 20, 0);
}

.won {

}

.won > div:first-child {
	transform: 	matrix(1, -0.1, 0.1, 1, -20, 0);
}

.won > div:nth-child(2) {
	transform: 	matrix(1, 0.1, -0.1, 1, 20, 0);
}

.won > div:nth-child(3) {
	transform: 	matrix(1, 0.1, -0.1, 1, 20, 0);
}

.comp {

}